body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    background-color: #def1cc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.container__imagen-persona {
    order: -1;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    justify-content: end;
}

.container__informaciones {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container__texto h1, .container__texto  {
    margin: 30px;
    color: #00b306;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h5{
    margin: 10px;
    color: #5c615c;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container__input {
    padding: 20px;
    border-radius: 5px;
    margin-top: auto; 
    width: 100%;
    box-sizing: border-box;
    font-size: 26px;
}

.container__botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: auto; 
}

.container__boton {
    padding: 20px 20px;
    margin: 40px;
    border: none;
    border-radius: 5px;
    background-color: #00b306;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.container__boton:hover {
    background-color: #24ed3f;
}

.container__boton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.footer {
    width: 100%;
    padding: 20px;
    background-color: #def1cc;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {
   
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {

    .container {
        width: 90%;
    }

    .container__contenido {
        flex-direction: column;
    }

    .container__imagen-persona, .container__informaciones {
        width: 100%;
    }

    .container__boton {
        margin: 20px;
        font-size: 16px;
    }
    .footer {
        position: static;
    }
}